{% stylesheet %}
  .h1{
    font-size: 60px;
  }
  .h2{
    font-size: 40px;
  }
  .h3{
    font-size: 20px;
  }
{% endstylesheet %}
{% if section.settings.collections.products != blank %}
  {% if section.settings.collection_title != blank %}
    <div class="{{ section.settings.title_font_size }}">
      {{ section.settings.collection_title }}
    </div>
  {% endif %}
  {% for product in section.settings.collections.products limit: section.settings.max_show_collection_products %}
    <div>
      {{ product | image_url: width: '200x' | image_tag }}
      {{ product.title }}
      {{ product.price | money_with_currency }}
    </div>
  {% endfor %}
{% endif %}
{% schema %}
{
  "name": "Show Single Collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "collection_title",
      "label": "Title",
      "default": "Collection Title"
    },
    {
      "type":"select",
      "id":"title_font_size",
      "label":"Title Font Size",
      "options": [
        {
          "value":"h3",
          "label":"small"
        },
        {
          "value":"h2",
          "label":"medium"
        },
        {
          "value":"h1",
          "label":"large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "collection",
      "id": "collections",
      "label": "Select Collection"
    },
    {
      "type":"range",
      "id":"max_show_collection_products",
      "label":"Set Max Product",
      "default": 4,
      "min": 1,
      "max": 10,
      "step": 1
    }
  ],
  "presets":[
    {
      "name": "Show Single Collection"
    }
  ]
}
{% endschema %}
