{% assign pcollection = section.settings.scollection %}
{% assign product_variant_overload_count = 0 %}
{% if pcollection != blank -%}
  <div><b>Collection Object</b></div>
  handle : {{ pcollection.handle }}
  <div><b>All Product Types</b></div>
  <div><b>Product</b></div>
  {% for product in pcollection.products -%}
    <div>------------</div>
    <b>title</b> : {{ product.title }}
    <br>
    <b>handle</b> : {{ product.handle }}
    <br>
    <b>type</b> : {{ product.type }}
    <br>
    <b>variant overload</b> : {{ product.metafields.custom.variant_overload }}

    {% comment %}*** Checking Whether Product is Variant Overloaded or Not ***{% endcomment %}

    {% if product.metafields.custom.variant_overload != blank %}
      <br>
      <b>Product is Variant Overload</b>
      <br>

      {% comment %}*** Getting Product count from handle ***{% endcomment %}

      <b>{{ product.handle | split: '-' | join: ' ' }}</b>
      <br>
      <b>{{ product.handle | split: '-' | last | to_i }}</b>
      {% assign product_variant_overload_count = product.handle | split: '-' | last | to_i %}

      {% if product_variant_overload_count == 1 %}
        <br>
        <b>Main Product</b>
      {% endif %}
    {% endif %}
  {%- endfor %}
{%- endif %}
{% schema %}
{
  "name": "Page Single Collection",
  "settings": [
    {
      "type": "collection",
      "id": "scollection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
