{% assign pcollection = section.settings.scollection %}
{% assign pall_types = pcollection.all_types %}
{% if pcollection != blank -%}
  <div><b>Collection Object</b></div>
  handle : {{ pcollection.handle }}
  <div><b>All Product Types</b></div>
  <div>{{ pcollection.all_types }}</div>
  {% comment %}
    <div><b>Product</b></div>
    {% for product in pcollection.products -%}
      <div>------------</div>
      <b>title</b> : {{ product.title }}
      <br>
      <b>handle</b> : {{ product.handle }}
      <br>
      <b>type</b> : {{ product.type }}
    {%- endfor %}
  {% endcomment %}
{%- endif %}
{% schema %}
{
  "name": "Page Single Collection",
  "settings": [
    {
      "type": "collection",
      "id": "scollection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
