{% assign pcollection = section.settings.scollection %}
{% assign pall_types = pcollection.all_types %}
{% if pcollection != blank -%}
  <div><b>Collection Object</b></div>
  handle : {{ pcollection.handle }}
  <div><b>All Product Types</b></div>
  <div><b>Product</b></div>
  {% for product in pcollection.products -%}
    <div>------------</div>
    <b>title</b> : {{ product.title }}
    <br>
    <b>handle</b> : {{ product.handle }}
    <br>
    <b>type</b> : {{ product.type }}
    <br>
    <b>variant overload</b> : {{ product.metafields.custom.variant_overload }}
    {% if product.metafields.custom.variant_overload != blank %}
    {% endif %}
  {%- endfor %}
{%- endif %}
{% schema %}
{
  "name": "Page Single Collection",
  "settings": [
    {
      "type": "collection",
      "id": "scollection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
